/* src/App.css */

/* Global background and center */
body, html, #root {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #123456;
  display: flex;             /* enable flex for centering */
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  color: white;
}

* {
  box-sizing: border-box;
}

/* White box */
.box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 22px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  min-width: 70%;
  color: #000000; 
}
